@import 'buntpapier/buntpapier'
@import './variables'
variables()
normalize-css()
base()
typography()
components()
scrollbars()

.bunt-select-dropdown-menu
	z-index: 9000000

a
	color: $clr-primary
	text-decoration: none

html, body, #app
	margin: 0
	height: 100%
	overflow: hidden

#app
	display: flex
	flex-direction: column
